# Node modules (any depth)
node_modules/
**/node_modules/

# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
**/*.tfvars
*.tfvars.json
**/*.tfvars.json
*.tfvars.example
**/*.tfvars.example
terraform.rc
terraform.tfplan
*.tfplan

# Environment files (any depth)
.env
.env.*
**/.env
**/.env.*

# macOS junk
.DS_Store
**/.DS_Store

# Certificates
*.crt
**/*.crt

cert

github-actions-iam-policy.txt
